<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/dataRender/ellipsis.js"></script>
    <title>Bukuku Suka</title>
        
    <script src="{% static 'landing/js/land.js' %}"></script>
    <link rel="stylesheet" href="{% static 'landing/css/ntap.css' %}">

    <body>
            <h1>Hi Welcome, {{ user.username }} :D</h1>
            <h1>{{ user.email }}</h1>
            <a class="btn btn-primary" href="/logout">Logout</a>

            <form id="form" method="POST" action="post">
                {% csrf_token %}
                {{ Searcher }}
                <br>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>  
                
        
    <div class="container">
        <h1>Kusuka Buku, Kamu Suka Buku, Kita Sama Sama Suka</h1></br></br>

        <table id="list_buku" class="table table-striped table-bordered dt-responsive" style="width:100%">
            <thead>
                <tr>
                    <th>Book Image</th>
                    <th>Title</th>
                    <th>Authors</th>
                    <th>Get This Book</th>
                    <th>Publish Date</th>
                    <th>Categories</th>
                    <th>Add to Favorites</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <h3>★: <span id="counter">{{jumlah_buku}}</span> Favorite book </h3></br></br></br></br></br></br>
    </div>

    <p><a href="/logout">Logout</a>
    
    </body>
    
    
    
    </html>
    